{% extends "layout.html" %}
{% block content %}
<div class="container3">
        <div class="add">
            <p>Recipie title</p>
            <input type="text" id="add_name" name="add_recname" maxlength="799"><br><br>
            <p>Recipie Instructions</p>
            <textarea type="text" id="add_namein" name="add_recnamein" maxlength="2399"></textarea><br><br>
            <p>Recipie Ingreidents</p>
            <textarea type="text" id="add_ing" readonly></textarea><br><br>
            <select name="select_ing" id="ingredients">
                {% for item in ingredients %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <button type="button" id="adding">Add</button>
            <button type="button" id="removing">Remove</button>
            <input type="text" id="add_username" name="add_name" maxlength="249">
            <button type="button" id="submitting">Submit Recipe</button>
    </div>
</div>
<script src="{{ url_for('static', filename='add.js') }}"></script>
{% endblock content %}