{% extends "layout.html" %}
{% block content %}
<div class="container3">
    <div class="mt-4 p-5 bg-primary text-white rounded d-flex justify-content-center align-items-center ">
        <p>Thank you for visiting us.</p>
    </div>
</div>
{% endblock content %}

