{% extends "layout.html" %}
{% block content %}
<div class="container3">
        <div class="about-para">            
            <div>
                <div class="list1">
                    <p>{{ recipeinfo.recipe_name  }}</p>
                    <p>{{ recipeinfo.recipe_instructions }}</p>
                    <p>{{ recipeinfo.recipe_user }}</p>
                    <ul>
                        {% for item in ingredients %}
                            <li class="inglist">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>       
    </div>
</div>
{% endblock content %}