<!DOCTYPE html>
<html>
    <head>
        <title>Recipies</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title">
            <h1>Recipes</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('home') }}">Home</a></li>
                <li><a href="{{url_for('about') }}">About</a></li>
                <li><a href="{{url_for('recipes') }}">Recipies</a></li>
                <li><a href="{{url_for('add') }}">Add</a></li>
            </ul>
        </nav>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>