{% extends "layout.html" %}
{% block content %}
<div class="container3">
        <div class="about-para">
            {% for item in recipelist  %}
            <div>
                <a href="/recipes/{{ item.recipe_id }}">
                    <div class="list1">
                        <p>{{ item.recipe_name  }}</p>
                        <p>{{ item.recipe_instructions }}</p>
                        <p>{{ item.recipe_user }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}