body {
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  nav {
    text-align: center;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
  }
  #title{
      text-align: center;
      background-color: greenyellow;
      padding: 10px;
      width: 400px;
      margin: auto;
      border-radius: 8px;
  }

  ul{
      display:inline;
  }
  li{
      background-color:white;
      border: 4px solid greenyellow;
      padding-left: 10%;
      padding-right: 10%;
      display: inline-block;
      border-radius: 8%;
  }
  
  nav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }
.list1{
 text-align: center; 
 line-height: 4px; 
 font-size: 20px;
 background-color: white; 
 border: 4px solid black;
 border-radius: 8px;
 margin: 10%;
 width:80%;
}
.container3{
    text-align: center; 
    line-height: 4px; 
    font-size: 20px;
    background-color: white; 
    border: 4px solid black;
    border-radius: 8px;
    width:80%;
    margin: 10%;
    
}
 .inglist{
    text-align: center; 
    line-height: 4px; 
    padding: 5%;
    font-size: 20px;
    background-color: greenyellow; 
    border: 4px solid black;
    border-radius: 8px;
    width:20%;
    margin: 10%;

 }